<!DOCTYPE html>
<html>
	<head>
		<title>Tiêu đề</title>
		<style>
			p {
				font-size: 30px;
			}
		</style>
	</head>
	<body style = "background-color: #66B2FF; color: white;">
		<img src = "https://dominofilm.vn/uploads/albums/2019/01/photo_5c495cf04fcea.jpg"; width = "1450px"; height = "600px";>
		<h1 style = "text-align: center; font-size: 60px;"><b>Welcome to FoodStore</b></h1>
		<p>We have a huge passionate community, and we're excited you're part of it now.</p>
		<p>Before we get started, we'll need to confirm your email.</p>
	</body>
</html>